# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.metadata/*
1OS_proj/.cproject
1OS_proj/.project
Eclipse1OS_Proj/.project
src/.cproject
src/.project

